# Puerto del servidor
PORT=3000

# JWT
JWT_SECRET=cambia_este_valor_por_un_secreto_fuerte
JWT_EXPIRES_IN=1h

# PostgreSQL (se usará en el siguiente sprint)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=control_gastos
DB_USER=postgres
DB_PASSWORD=postgres
